<li>
    <p>
        <%= comment_data.name %> (<%= comment_data.created_at %>) 
        <a class="delete_comment" href="/api/wall/delete_comment/<%= comment_data.id %>">X</a>
    </p>
    <span><%= comment_data.content %></span>
</li>